@font-face {
  font-family: "Ghost Army Stencil";
  src: url(../fonts/GhostArmyStencil.otf) format("opentype");
}

/*
 * This file contains the styling of the header, and everything it includes
 * profile picture, background picture ect. 
 */
header {
  height: 20vw;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  border-bottom: 2px solid #b5b5ff;
}

@media (max-width: 400px) {
  header {
    height: 160px;
  }
}

@media (min-width: 401px) {
  header {
    height: 150px;
  }
}

@media (min-width: 701px) {
  header {
    height: 200px;
  }
}

@media (min-width: 1000px) {
  header {
    height: 240px;
  }
}

@media (min-width: 1200px) {
  header {
    height: 250px;
  }
}

header .header__bg {
  height: 100%;
  background: #89f8fc;
  background: repeating-linear-gradient(60deg, #89f8fc 0%, #6effaf 10%);
  background-clip: text;
  color: transparent;
  font-family: "Ghost Army Stencil";
  text-align: right;
}

@media (max-width: 400px) {
  header .header__bg {
    padding: 20px 20px 0 0;
    line-height: 50px;
  }
}

@media (min-width: 401px) {
  header .header__bg {
    padding: 10px 20px 0 0;
  }
}

@media (min-width: 701px) {
  header .header__bg {
    padding: 25px 40px 0 0;
  }
}

@media (min-width: 1000px) {
  header .header__bg {
    padding: 30px 60px 0 0;
  }
}

@media (min-width: 1200px) {
  header .header__bg {
    padding: 35px 70px 0 0;
  }
}

@media (max-width: 400px) {
  header .header__bg .header__bg--name {
    font-size: 55px;
  }
}

@media (min-width: 401px) {
  header .header__bg .header__bg--name {
    font-size: 60px;
    letter-spacing: 2px;
  }
}

@media (min-width: 701px) {
  header .header__bg .header__bg--name {
    font-size: 80px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1000px) {
  header .header__bg .header__bg--name {
    font-size: 100px;
    letter-spacing: 5px;
  }
}

@media (min-width: 1200px) {
  header .header__bg .header__bg--name {
    font-size: 100px;
    letter-spacing: 6px;
  }
}

@media (max-width: 400px) {
  header .header__bg .header__bg--title {
    font-size: 25px;
    letter-spacing: 0;
  }
}

@media (min-width: 401px) {
  header .header__bg .header__bg--title {
    font-size: 30px;
    letter-spacing: 1px;
  }
}

@media (min-width: 701px) {
  header .header__bg .header__bg--title {
    font-size: 35px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1000px) {
  header .header__bg .header__bg--title {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

@media (min-width: 1200px) {
  header .header__bg .header__bg--title {
    font-size: 45px;
    letter-spacing: 4px;
  }
}

header .header__face {
  position: absolute;
  border: 2px solid #b5b5ff;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: face-animation 2s linear;
          animation: face-animation 2s linear;
}

@media (max-width: 400px) {
  header .header__face {
    visibility: hidden;
  }
}

@media (min-width: 401px) {
  header .header__face {
    visibility: hidden;
  }
}

@media (min-width: 701px) {
  header .header__face {
    top: 85px;
    left: 20px;
    height: 230px;
    width: 230px;
    visibility: visible;
  }
}

@media (min-width: 1000px) {
  header .header__face {
    top: 115px;
    left: 50px;
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 1200px) {
  header .header__face {
    top: 110px;
    left: 50px;
    height: 280px;
    width: 280px;
  }
}

header .header__face .header__face__img {
  width: 100%;
  height: 100%;
  background: #000;
  background-image: url(../images/face.png);
  background-size: cover;
  border-radius: 50%;
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

@-webkit-keyframes face-animation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  10% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes face-animation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  10% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

/*
 * This file contains all navigation bar styles and animations
 */
.nav__toggle {
  opacity: 0;
}

.nav__toggle:not(:checked) ~ nav .nav__burger .nav__burger__line1 {
  -webkit-animation: animation-nav-toggle-to-lines-line1 0.5s linear;
          animation: animation-nav-toggle-to-lines-line1 0.5s linear;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin-left: 9px;
}

.nav__toggle:not(:checked) ~ nav .nav__burger .nav__burger__line2 {
  -webkit-animation: animation-nav-toggle-to-lines-line2 1s linear;
          animation: animation-nav-toggle-to-lines-line2 1s linear;
  opacity: 1;
}

.nav__toggle:not(:checked) ~ nav .nav__burger .nav__burger__line3 {
  -webkit-animation: animation-nav-toggle-to-lines-line3 0.5s linear;
          animation: animation-nav-toggle-to-lines-line3 0.5s linear;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin-left: 9px;
}

.nav__toggle:checked ~ nav .nav__burger .nav__burger__line1 {
  -webkit-animation: animation-nav-toggle-to-x-line1 0.5s linear;
          animation: animation-nav-toggle-to-x-line1 0.5s linear;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.nav__toggle:checked ~ nav .nav__burger .nav__burger__line2 {
  -webkit-animation: animation-nav-toggle-to-x-line2 1s linear;
          animation: animation-nav-toggle-to-x-line2 1s linear;
  opacity: 0;
}

.nav__toggle:checked ~ nav .nav__burger .nav__burger__line3 {
  -webkit-animation: animation-nav-toggle-to-x-line3 0.5s linear;
          animation: animation-nav-toggle-to-x-line3 0.5s linear;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  margin-top: 9px;
  margin-left: 13px;
}

nav ul {
  margin-top: -20px;
  padding: 0;
  border-bottom: 2px solid #b5b5ff;
}

nav ul li {
  width: 100vw;
  /* list item takes as much space as it's available */
  list-style: none;
  text-align: center;
}

nav ul li:hover {
  background: #b4eddda1;
}

nav ul li:hover a {
  color: rgba(0, 0, 0, 0.7);
}

nav ul li a {
  display: inline-block;
  width: 100vw;
  /* anchors takes as much space as it's available */
  height: 100%;
  text-decoration: none;
  font-size: 22px;
  color: #b4eddd;
}

nav label {
  z-index: 99;
}

nav .nav__burger {
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid #b5b5ff;
}

nav label,
nav .nav__burger {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

nav .nav__burger div {
  width: 32px;
  height: 2px;
  margin-left: 9px;
  margin-top: 8px;
  background: #b4eddd;
  border-radius: 2px;
}

nav .nav__burger .nav__burger__line1 {
  margin-top: 12px;
  margin-left: 15px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

nav .nav__burger .nav__burger__line2 {
  opacity: 0;
}

nav .nav__burger .nav__burger__line3 {
  margin-top: 9px;
  margin-left: 15px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

@media (max-width: 400px) {
  nav {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  }
  nav ul li {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
  }
  nav ul li a {
    line-height: 50px;
  }
  nav label,
  nav .nav__burger {
    top: 162px;
  }
}

@media (min-width: 401px) {
  nav {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  }
  nav ul li {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
  }
  nav ul li a {
    line-height: 50px;
  }
  nav label,
  nav .nav__burger {
    top: 152px;
  }
}

@media (min-width: 701px) {
  nav {
    background: transparent;
    padding-top: 0;
  }
  nav ul {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
    border-left: 2px solid #b5b5ff;
    border-bottom-left-radius: 25px;
  }
  nav ul li:first-child {
    border-bottom-left-radius: 25px;
  }
  nav ul li a {
    width: 100%;
    height: 50px;
  }
  nav label,
  nav .nav__burger {
    top: 203px;
  }
}

@media (min-width: 1000px) {
  nav label,
  nav .nav__burger {
    top: 243px;
  }
}

@media (min-width: 1200px) {
  nav label,
  nav .nav__burger {
    top: 252px;
  }
}

@media (max-width: 400px) {
  .nav__toggle:checked ~ nav ul {
    display: block;
    -webkit-animation: nav-in-s 0.35s ease-in;
            animation: nav-in-s 0.35s ease-in;
  }
  .nav__toggle:checked ~ nav ul li a {
    -webkit-animation: text-in 1.2s linear;
            animation: text-in 1.2s linear;
  }
}

@media (min-width: 401px) {
  .nav__toggle:checked ~ nav ul {
    display: block;
    -webkit-animation: nav-in-s 0.35s ease-in;
            animation: nav-in-s 0.35s ease-in;
  }
  .nav__toggle:checked ~ nav ul li a {
    -webkit-animation: text-in 1.2s linear;
            animation: text-in 1.2s linear;
  }
}

@media (min-width: 701px) {
  .nav__toggle:checked ~ nav ul {
    position: absolute;
    height: 50px;
    width: 50vw;
    top: 210px;
    right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 40px;
    -webkit-transform: translate(0, 12px);
            transform: translate(0, 12px);
    -webkit-animation: nav-in-sm 1s ease-out;
            animation: nav-in-sm 1s ease-out;
  }
  .nav__toggle:checked ~ nav ul li a {
    -webkit-animation: text-in 1.2s linear;
            animation: text-in 1.2s linear;
  }
}

@media (min-width: 1000px) {
  .nav__toggle:checked ~ nav ul {
    width: 60vw;
    height: 50px;
    top: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 45px;
    -webkit-animation: nav-in-md 1s ease-out;
            animation: nav-in-md 1s ease-out;
  }
  .nav__toggle:checked ~ nav ul li a {
    -webkit-animation: text-in 1.2s linear;
            animation: text-in 1.2s linear;
  }
}

@media (min-width: 1200px) {
  .nav__toggle:checked ~ nav ul {
    width: 65vw;
    top: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-animation: nav-in-lg 1s ease-out;
            animation: nav-in-lg 1s ease-out;
  }
  .nav__toggle:checked ~ nav ul li a {
    -webkit-animation: text-in 1.2s linear;
            animation: text-in 1.2s linear;
  }
}

@media (max-width: 400px) {
  .nav__toggle:not(:checked) ~ nav ul {
    display: block;
    height: 0;
    -webkit-animation: nav-out-s 1s ease-in;
            animation: nav-out-s 1s ease-in;
  }
  .nav__toggle:not(:checked) ~ nav ul li {
    -webkit-animation: nav-li-out-s 1s ease-in;
            animation: nav-li-out-s 1s ease-in;
    height: 0;
  }
  .nav__toggle:not(:checked) ~ nav ul li a {
    -webkit-animation: text-out 0.7s linear;
            animation: text-out 0.7s linear;
    color: transparent;
  }
}

@media (min-width: 401px) {
  .nav__toggle:not(:checked) ~ nav ul {
    display: block;
    height: 0;
    -webkit-animation: nav-out-s 1s ease-in;
            animation: nav-out-s 1s ease-in;
  }
  .nav__toggle:not(:checked) ~ nav ul li {
    -webkit-animation: nav-li-out-s 1s ease-in;
            animation: nav-li-out-s 1s ease-in;
    height: 0;
  }
  .nav__toggle:not(:checked) ~ nav ul li a {
    -webkit-animation: text-out 0.7s linear;
            animation: text-out 0.7s linear;
    color: transparent;
  }
}

@media (min-width: 701px) {
  .nav__toggle:not(:checked) ~ nav ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
    height: 50px;
    top: 210px;
    right: -65vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0, 12px);
            transform: translate(0, 12px);
    z-index: -1;
    -webkit-animation: nav-out-sm 1s ease-out;
            animation: nav-out-sm 1s ease-out;
  }
  .nav__toggle:not(:checked) ~ nav ul li a {
    -webkit-animation: text-out 1s linear;
            animation: text-out 1s linear;
  }
}

@media (min-width: 1000px) {
  .nav__toggle:not(:checked) ~ nav ul {
    position: absolute;
    width: 60vw;
    top: 250px;
    right: -65vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0, 12px);
            transform: translate(0, 12px);
    z-index: -1;
    -webkit-animation: nav-out-md 1s ease-out;
            animation: nav-out-md 1s ease-out;
  }
  .nav__toggle:not(:checked) ~ nav ul li a {
    -webkit-animation: text-out 1s linear;
            animation: text-out 1s linear;
  }
}

@media (min-width: 1200px) {
  .nav__toggle:not(:checked) ~ nav ul {
    position: absolute;
    width: 65vw;
    top: 260px;
    right: -65vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0, 12px);
            transform: translate(0, 12px);
    z-index: -1;
    -webkit-animation: nav-out-lg 1s ease-out;
            animation: nav-out-lg 1s ease-out;
  }
  .nav__toggle:not(:checked) ~ nav ul li a {
    -webkit-animation: text-out 1s linear;
            animation: text-out 1s linear;
  }
}

@-webkit-keyframes animation-nav-toggle-to-lines-line1 {
  0% {
    margin-top: 12px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animation-nav-toggle-to-lines-line1 {
  0% {
    margin-top: 12px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes animation-nav-toggle-to-lines-line2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-nav-toggle-to-lines-line2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-nav-toggle-to-lines-line3 {
  0% {
    margin-top: 12px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animation-nav-toggle-to-lines-line3 {
  0% {
    margin-top: 12px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes animation-nav-toggle-to-x-line1 {
  0% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    margin-top: 12px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@keyframes animation-nav-toggle-to-x-line1 {
  0% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    margin-top: 12px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@-webkit-keyframes animation-nav-toggle-to-x-line2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-nav-toggle-to-x-line2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animation-nav-toggle-to-x-line3 {
  0% {
    margin-top: 12px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    margin-top: 9px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@keyframes animation-nav-toggle-to-x-line3 {
  0% {
    margin-top: 12px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    margin-top: 9px;
    margin-left: 15px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@-webkit-keyframes nav-in-lg {
  0% {
    right: -65vw;
  }
  100% {
    right: 0;
  }
}

@keyframes nav-in-lg {
  0% {
    right: -65vw;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes nav-in-md {
  0% {
    right: -60vw;
  }
  100% {
    right: 0;
  }
}

@keyframes nav-in-md {
  0% {
    right: -60vw;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes nav-in-sm {
  0% {
    right: -50vw;
  }
  100% {
    right: 0;
  }
}

@keyframes nav-in-sm {
  0% {
    right: -50vw;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes nav-in-s {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}

@keyframes nav-in-s {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}

@-webkit-keyframes nav-out-s {
  0% {
    height: 200px;
  }
  70% {
    height: 100px;
  }
  100% {
    height: 0;
  }
}

@keyframes nav-out-s {
  0% {
    height: 200px;
  }
  70% {
    height: 100px;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes nav-li-out-s {
  0% {
    height: 50px;
  }
  90% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

@keyframes nav-li-out-s {
  0% {
    height: 50px;
  }
  90% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes text-in {
  0% {
    color: transparent;
  }
  70% {
    color: transparent;
  }
  100% {
    color: #b4eddd;
  }
}

@keyframes text-in {
  0% {
    color: transparent;
  }
  70% {
    color: transparent;
  }
  100% {
    color: #b4eddd;
  }
}

@-webkit-keyframes text-out {
  0% {
    color: #b4eddd;
  }
  20% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}

@keyframes text-out {
  0% {
    color: #b4eddd;
  }
  20% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}

@-webkit-keyframes nav-out-lg {
  0% {
    right: 0;
  }
  100% {
    right: -65vw;
  }
}

@keyframes nav-out-lg {
  0% {
    right: 0;
  }
  100% {
    right: -65vw;
  }
}

@-webkit-keyframes nav-out-md {
  0% {
    right: 0;
  }
  100% {
    right: -60vw;
  }
}

@keyframes nav-out-md {
  0% {
    right: 0;
  }
  100% {
    right: -60vw;
  }
}

@-webkit-keyframes nav-out-sm {
  0% {
    right: 0;
  }
  100% {
    right: -50vw;
  }
}

@keyframes nav-out-sm {
  0% {
    right: 0;
  }
  100% {
    right: -50vw;
  }
}

/*
 * This file contains the styling of about section of the page
 */
.about {
  color: #dbdbff;
}

@media (max-width: 400px) {
  .about {
    padding: 50px;
    font-size: 18px;
  }
}

@media (min-width: 401px) {
  .about {
    padding: 50px;
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #282c34;
  background-image: url("../images/dark-circles.png");
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=main.css.map */