@mixin breakpoint($bp) {
  @if $bp == xs {
    @media (max-width: 700px) {
      @content;
    }
  } @else if $bp == sm {
    @media (min-width: 701px) {
      @content;
    }
  } @else if $bp == md {
    @media (min-width: 1000px) {
      @content;
    }
  } @else if $bp == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Not a correct mixin attribute. Attributes are: xs, sm, md, lg!";
  }
}

@function setColor($color-name) {
  @return map-get($colors, $color-name);
}
$colors: (
  primary: #282c34
);
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: setColor(primary);
  header {
    height: 20vw;
    background: rgba(0, 0, 0, 0.3);
    @include breakpoint(xs) {
      height: 150px;
    }
    @include breakpoint(sm) {
      height: 200px;
    }
    @include breakpoint(md) {
      height: 250px;
    }
    @include breakpoint(lg) {
      height: 290px;
    }
    .img {
      background-image: url("bg-header.png");
      background-size: cover;
      opacity: 0.01;
      @include breakpoint(xs) {
        height: 150px;
      }
      @include breakpoint(sm) {
        height: 200px;
      }
      @include breakpoint(md) {
        height: 250px;
      }
      @include breakpoint(lg) {
        height: 290px;
      }
    }
  }
}
