@font-face {
  font-family: "Ghost Army Stencil";
  src: url(../fonts/GhostArmyStencil.otf) format("opentype");
}

/*
 * This file contains the styling of the header, and everything it includes
 * profile picture, background picture ect. 
 */
header {
  height: 20vw;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  border-bottom: 2px solid #f4d6fe;
}

@media (max-width: 400px) {
  header {
    height: 160px;
  }
}

@media (min-width: 401px) {
  header {
    height: 150px;
  }
}

@media (min-width: 701px) {
  header {
    height: 200px;
  }
}

@media (min-width: 1000px) {
  header {
    height: 240px;
  }
}

@media (min-width: 1200px) {
  header {
    height: 250px;
  }
}

header .vinyl-arm {
  position: absolute;
  background-image: url(../images/vinyl_arm.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform-origin: top;
          transform-origin: top;
  visibility: hidden;
}

@media (min-width: 701px) {
  header .vinyl-arm {
    top: 100px;
    left: 230px;
    height: 200px;
    width: 60px;
  }
}

@media (min-width: 1000px) {
  header .vinyl-arm {
    top: 110px;
    left: 320px;
    height: 250px;
    width: 80px;
  }
}

@media (min-width: 1200px) {
  header .vinyl-arm {
    top: 110px;
    left: 320px;
    height: 250px;
    width: 80px;
  }
}

header .header__bg {
  height: 100%;
  background: #89f8fc;
  background: repeating-linear-gradient(60deg, #89f8fc 0%, #6effaf 10%);
  background-clip: text;
  color: transparent;
  font-family: "Ghost Army Stencil";
  text-align: right;
}

@media (max-width: 400px) {
  header .header__bg {
    padding: 20px 20px 0 0;
    line-height: 50px;
  }
}

@media (min-width: 401px) {
  header .header__bg {
    padding: 10px 20px 0 0;
  }
}

@media (min-width: 701px) {
  header .header__bg {
    padding: 25px 40px 0 0;
  }
}

@media (min-width: 1000px) {
  header .header__bg {
    padding: 30px 60px 0 0;
  }
}

@media (min-width: 1200px) {
  header .header__bg {
    padding: 35px 70px 0 0;
  }
}

@media (max-width: 400px) {
  header .header__bg .header__bg--name {
    font-size: 55px;
  }
}

@media (min-width: 401px) {
  header .header__bg .header__bg--name {
    font-size: 60px;
    letter-spacing: 2px;
  }
}

@media (min-width: 701px) {
  header .header__bg .header__bg--name {
    font-size: 80px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1000px) {
  header .header__bg .header__bg--name {
    font-size: 100px;
    letter-spacing: 5px;
  }
}

@media (min-width: 1200px) {
  header .header__bg .header__bg--name {
    font-size: 100px;
    letter-spacing: 6px;
  }
}

@media (max-width: 400px) {
  header .header__bg .header__bg--title {
    font-size: 25px;
    letter-spacing: 0;
  }
}

@media (min-width: 401px) {
  header .header__bg .header__bg--title {
    font-size: 30px;
    letter-spacing: 1px;
  }
}

@media (min-width: 701px) {
  header .header__bg .header__bg--title {
    font-size: 35px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1000px) {
  header .header__bg .header__bg--title {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

@media (min-width: 1200px) {
  header .header__bg .header__bg--title {
    font-size: 45px;
    letter-spacing: 4px;
  }
}

header .header__face {
  position: absolute;
  border: 2px solid #f4d6fe;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: face-animation 2s linear;
          animation: face-animation 2s linear;
}

header .header__face:hover .aaa {
  opacity: 1;
}

header .header__face .aaa {
  position: absolute;
  top: -30px;
  left: -30px;
  height: 100px;
  width: 80px;
  background-image: url(../icons/aaa.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
}

@media (max-width: 400px) {
  header .header__face {
    visibility: hidden;
  }
}

@media (min-width: 401px) {
  header .header__face {
    visibility: hidden;
  }
}

@media (min-width: 701px) {
  header .header__face {
    top: 85px;
    left: 20px;
    height: 230px;
    width: 230px;
    visibility: visible;
  }
}

@media (min-width: 1000px) {
  header .header__face {
    top: 115px;
    left: 50px;
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 1200px) {
  header .header__face {
    top: 110px;
    left: 50px;
    height: 280px;
    width: 280px;
  }
}

header .header__face .header__face__img {
  width: 100%;
  height: 100%;
  background: #000;
  background-image: url(../images/face.png);
  background-size: cover;
  border-radius: 50%;
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

header .header__face .header__face__img:hover {
  background-image: url(../images/aaa.png);
  -webkit-animation: face-spin 0.7s linear infinite;
          animation: face-spin 0.7s linear infinite;
}

header .header__face .header__face__img:hover .aaa {
  opacity: 1;
}

@-webkit-keyframes face-animation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  10% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes face-animation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  10% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes face-spin {
  0% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

@keyframes face-spin {
  0% {
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}

@-webkit-keyframes vinyl-arm-in {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  1% {
    visibility: visible;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@keyframes vinyl-arm-in {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  1% {
    visibility: visible;
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@-webkit-keyframes vinyl-arm-out {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  99% {
    visibility: hidden;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes vinyl-arm-out {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  99% {
    visibility: hidden;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

nav {
  background: rgba(0, 0, 0, 0.7);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul a {
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
  color: #b4eddd;
}

nav input {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (max-width: 400px) {
  nav ul {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li {
    width: 100vw;
  }
  nav ul li a {
    width: 100vw;
    display: inline-block;
    text-align: center;
  }
  nav ul li label {
    display: absolute;
    width: 100vw;
    height: 50px;
    top: 0;
    left: 0;
  }
}

@media (min-width: 401px) {
  nav ul {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li {
    width: 100vw;
  }
  nav ul li a {
    width: 100vw;
    display: inline-block;
    text-align: center;
  }
  nav ul li label {
    display: absolute;
    width: 100vw;
    height: 50px;
    top: 0;
    left: 0;
  }
}

@media (min-width: 701px) {
  nav {
    height: 50px;
  }
  nav ul {
    width: 50vw;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    float: right;
  }
  nav ul li {
    width: 11vw;
  }
  nav ul li a {
    width: 11vw;
    display: inline-block;
    text-align: center;
  }
  nav ul li label {
    display: absolute;
    height: 50px;
    top: 0;
    left: 0;
  }
}

.nav__burger {
  position: relative;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .nav__burger {
    width: 20vw;
    height: 20px;
  }
  .nav__burger .nav__burger__line1 {
    position: absolute;
    top: 80%;
    left: 10%;
    width: 80%;
    height: 2px;
    background: #b4eddd;
  }
  .nav__burger .nav__burger__line2 {
    position: absolute;
    top: 80%;
    left: 10%;
    width: 43%;
    height: 2px;
    background: #b4eddd;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate(-17deg);
            transform: rotate(-17deg);
  }
  .nav__burger .nav__burger__line3 {
    position: absolute;
    top: 80%;
    right: 10%;
    width: 43%;
    height: 2px;
    background: #b4eddd;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate(17deg);
            transform: rotate(17deg);
  }
}

@media (min-width: 401px) {
  .nav__burger {
    width: 20vw;
    max-width: 90px;
    height: 20px;
  }
  .nav__burger .nav__burger__line1 {
    position: absolute;
    top: 80%;
    left: 10%;
    width: 80%;
    height: 2px;
    background: #b4eddd;
  }
  .nav__burger .nav__burger__line2 {
    position: absolute;
    top: 80%;
    left: 10%;
    width: 42.5%;
    height: 2px;
    background: #b4eddd;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate(-17deg);
            transform: rotate(-17deg);
  }
  .nav__burger .nav__burger__line3 {
    position: absolute;
    top: 80%;
    right: 10%;
    width: 42.5%;
    height: 2px;
    background: #b4eddd;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate(17deg);
            transform: rotate(17deg);
  }
}

@media (min-width: 701px) {
  .nav__burger {
    width: 50px;
  }
  .nav__burger .nav__burger__line1 {
    position: absolute;
    top: 80%;
    left: 10%;
    width: 80%;
    height: 2px;
    background: #b4eddd;
  }
  .nav__burger .nav__burger__line2 {
    position: absolute;
    top: 80%;
    left: 10%;
    width: 42.5%;
    height: 2px;
    background: #b4eddd;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate(-17deg);
            transform: rotate(-17deg);
  }
  .nav__burger .nav__burger__line3 {
    position: absolute;
    top: 80%;
    right: 10%;
    width: 42.5%;
    height: 2px;
    background: #b4eddd;
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    -webkit-transform: rotate(17deg);
            transform: rotate(17deg);
  }
}

/*
 * This file contains the styling of about section of the page
 */
.about {
  color: #d6f7edcb;
  border-left: 2px solid #f4d6fe;
  text-align: justify;
  -webkit-animation: about-in 1s linear;
          animation: about-in 1s linear;
}

@media (max-width: 400px) {
  .about {
    margin: 60px 50px 50px 40px;
    padding-left: 10px;
    font-size: 18px;
  }
}

@media (min-width: 401px) {
  .about {
    margin: 60px 50px 50px 40px;
    padding-left: 10px;
    font-size: 20px;
  }
}

@media (min-width: 701px) {
  .about {
    margin: 135px 70px 50px 60px;
    padding-left: 15px;
    font-size: 21px;
  }
}

@media (min-width: 1000px) {
  .about {
    margin: 135px 80px 50px 90px;
    padding-left: 10px;
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .about {
    margin: 145px 75px 50px 90px;
    padding-left: 15px;
    font-size: 23px;
  }
}

@-webkit-keyframes about-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes about-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.technologies {
  height: 150px;
  -webkit-clip-path: polygon(5% 50%, 3% 10%, 97% 10%, 100% 50%, 97% 100%, 3% 100%, 5% 50%);
          clip-path: polygon(5% 50%, 3% 10%, 97% 10%, 100% 50%, 97% 100%, 3% 100%, 5% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-animation: technologies-open 0.7s ease-out;
          animation: technologies-open 0.7s ease-out;
}

.technologies img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

@-webkit-keyframes technologies-open {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

@keyframes technologies-open {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .img-wrapper {
  position: relative;
  border: 2px solid #f4d6fe;
  border-radius: 5px;
}

.projects .img-wrapper:hover .projects__description {
  -webkit-animation: description-in 0.5s ease-in;
          animation: description-in 0.5s ease-in;
  height: 100%;
}

.projects .img-wrapper:hover .projects__description div {
  -webkit-animation: text-in 0.5s ease-in;
          animation: text-in 0.5s ease-in;
  opacity: 1;
}

.projects .img-wrapper img {
  border-radius: 5px;
}

.projects .img-wrapper .projects__description {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  -webkit-clip-path: polygon(0% 95%, 0% 0%, 100% 0%, 100% 97%, 95% 100%, 90% 97%, 85% 100%, 80% 97%, 75% 100%, 70% 97%, 65% 100%, 60% 97%, 55% 100%, 50% 97%, 45% 100%, 40% 97%, 35% 100%, 30% 97%, 25% 100%, 20% 97%, 15% 100%, 10% 97%, 5% 100%, 0% 97%);
          clip-path: polygon(0% 95%, 0% 0%, 100% 0%, 100% 97%, 95% 100%, 90% 97%, 85% 100%, 80% 97%, 75% 100%, 70% 97%, 65% 100%, 60% 97%, 55% 100%, 50% 97%, 45% 100%, 40% 97%, 35% 100%, 30% 97%, 25% 100%, 20% 97%, 15% 100%, 10% 97%, 5% 100%, 0% 97%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  color: #fee6ad;
}

.projects .img-wrapper .projects__description div {
  padding: 2vw;
  font-size: 1.2rem;
  text-align: justify;
  opacity: 0;
}

@media (max-width: 400px) {
  .projects {
    margin: 60px 50px 50px 40px;
  }
  .projects .img-wrapper {
    margin-bottom: 50px;
  }
  .projects .img-wrapper img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 401px) {
  .projects {
    margin: 60px 50px 50px 40px;
  }
  .projects .img-wrapper {
    margin-bottom: 50px;
  }
  .projects .img-wrapper img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 701px) {
  .projects {
    margin: 50px 70px 50px 60px;
  }
  .projects .img-wrapper {
    margin-bottom: 50px;
    width: 42%;
  }
  .projects .img-wrapper img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .projects {
    margin: 125px 80px 50px 90px;
  }
}

@media (min-width: 1200px) {
  .projects {
    margin: 135px 75px 50px 90px;
  }
}

@-webkit-keyframes description-in {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes description-in {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.contact {
  -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
  background: white;
  color: #282c34;
}

.contact table {
  margin-top: 20px;
  border-left: 4px solid #b4eddd;
  border-right: 4px solid #b4eddd;
}

.contact table tr img {
  height: 60px;
  width: 60px;
}

.contact table tr:hover td:first-child {
  -webkit-animation: icon-vibe 0.05s ease-out infinite;
          animation: icon-vibe 0.05s ease-out infinite;
}

.contact table tr:hover td:nth-child(2) {
  -webkit-animation: contact-color 0.5s ease-in;
          animation: contact-color 0.5s ease-in;
  background: -webkit-gradient(linear, left top, right top, from(#282c34), to(#4a5160));
  background: linear-gradient(90deg, #282c34, #4a5160);
  color: #b4eddd;
}

.contact table tr td:nth-child(2) {
  padding-left: 10px;
  width: 100%;
}

@media (max-width: 400px) {
  .contact {
    padding: 80px 50px 50px 40px;
    font-size: 18px;
  }
}

@media (min-width: 401px) {
  .contact {
    padding: 90px 50px 50px 40px;
    font-size: 20px;
  }
}

@media (min-width: 701px) {
  .contact {
    padding: 115px 70px 50px 60px;
    font-size: 21px;
  }
}

@media (min-width: 1000px) {
  .contact {
    padding: 125px 80px 50px 90px;
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .contact {
    padding: 135px 75px 50px 90px;
    font-size: 23px;
  }
}

@-webkit-keyframes icon-vibe {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
}

@keyframes icon-vibe {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
}

@-webkit-keyframes contact-color {
  0% {
    color: #282c34;
  }
  100% {
    color: #b4eddd;
  }
}

@keyframes contact-color {
  0% {
    color: #282c34;
  }
  100% {
    color: #b4eddd;
  }
}

footer {
  margin: 20px;
  text-align: right;
  color: #b4eddd;
}

footer .love {
  color: #ff5353;
  display: inline-block;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  text-shadow: 2px 2px 2px black;
  -webkit-animation: throb 0.6s cubic-bezier(0.08, 0.8, 0.32, 0.85) infinite;
          animation: throb 0.6s cubic-bezier(0.08, 0.8, 0.32, 0.85) infinite;
}

@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
}

@keyframes throb {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #282c34;
  background-image: url("../images/dark-circles.png");
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=main.css.map */