/*
 * This file contains the styling of about section of the page
 */
.about {
  color: #dbdbff;
  @include breakpoint(phone) {
    padding: 50px;
    font-size: 18px;
  }
  @include breakpoint(xs) {
    padding: 50px;
    font-size: 20px;
  }
}
