/*
 * This file contains the styling of about section of the page
 */
.about {
  color: #dbdbff;
  border-left: 2px solid setColor(border);
  text-align: justify;
  @include breakpoint(phone) {
    margin: 50px 50px 50px 40px;
    padding-left: 10px;
    font-size: 18px;
  }
  @include breakpoint(xs) {
    margin: 50px 50px 50px 40px;
    padding-left: 10px;
    font-size: 20px;
  }
  @include breakpoint(sm) {
    margin: 115px 70px 50px 60px;
    padding-left: 15px;
    font-size: 21px;
  }
  @include breakpoint(md) {
    margin: 125px 80px 50px 90px;
    padding-left: 10px;
    font-size: 22px;
  }
  @include breakpoint(lg) {
    margin: 135px 75px 50px 90px;
    padding-left: 15px;
    font-size: 23px;
  }
}
