/*
 * This file contains the styling of the header, and everything it includes
 * profile picture, background picture ect. 
 */

@import "_vars_and_functions"; /// this file is imported and used throughout the entire document as a partial
header {
  height: 20vw;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  border-bottom: 2px solid setColor(border);
  @include breakpoint(phone) {
    height: 160px;
  }

  @include breakpoint(xs) {
    height: 150px;
  }

  @include breakpoint(sm) {
    height: 200px;
  }

  @include breakpoint(md) {
    height: 240px;
  }

  @include breakpoint(lg) {
    height: 250px;
  }
  .vinyl-arm {
    position: absolute;
    top: 110px;
    left: 320px;
    height: 250px;
    width: 80px;
    background-image: url(../images/vinyl_arm.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform-origin: top;
    visibility: hidden;
    //animation: vinyl-arm-in 1s linear;
  }
  // the background image of the header which is clipped
  .header__bg {
    height: 100%;
    background: rgb(137, 248, 252);
    background: repeating-linear-gradient(
      60deg,
      rgb(137, 248, 252) 0%,
      rgb(110, 255, 175) 10%
    );
    background-clip: text;
    color: transparent;
    font-family: "Ghost Army Stencil";
    text-align: right;
    @include breakpoint(phone) {
      padding: 20px 20px 0 0;
      line-height: 50px;
    }

    @include breakpoint(xs) {
      padding: 10px 20px 0 0;
    }

    @include breakpoint(sm) {
      padding: 25px 40px 0 0;
    }

    @include breakpoint(md) {
      padding: 30px 60px 0 0;
    }

    @include breakpoint(lg) {
      padding: 35px 70px 0 0;
    }

    .header__bg--name {
      @include breakpoint(phone) {
        font-size: 55px;
      }
      @include breakpoint(xs) {
        font-size: 60px;
        letter-spacing: 2px;
      }
      @include breakpoint(sm) {
        font-size: 80px;
        letter-spacing: 2px;
      }
      @include breakpoint(md) {
        font-size: 100px;
        letter-spacing: 5px;
      }
      @include breakpoint(lg) {
        font-size: 100px;
        letter-spacing: 6px;
      }
    }
    .header__bg--title {
      @include breakpoint(phone) {
        font-size: 25px;
        letter-spacing: 0;
      }
      @include breakpoint(xs) {
        font-size: 30px;
        letter-spacing: 1px;
      }
      @include breakpoint(sm) {
        font-size: 35px;
        letter-spacing: 2px;
      }
      @include breakpoint(md) {
        font-size: 40px;
        letter-spacing: 3px;
      }
      @include breakpoint(lg) {
        font-size: 45px;
        letter-spacing: 4px;
      }
    }
  }
  .header__face {
    position: absolute;
    // border half circle
    border: 2px solid setColor(border);
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    animation: face-animation 2s linear;
    &:hover {
      .aaa {
        opacity: 1;
      }
    }
    .aaa {
      position: absolute;
      top: -30px;
      left: -30px;
      height: 100px;
      width: 80px;
      background-image: url(../icons/aaa.png);
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(-45deg);
      opacity: 0;
    }

    @include breakpoint(phone) {
      visibility: hidden;
    }

    @include breakpoint(xs) {
      visibility: hidden;
    }

    @include breakpoint(sm) {
      top: 85px;
      left: 20px;
      height: 230px;
      width: 230px;
      visibility: visible;
    }

    @include breakpoint(md) {
      top: 115px;
      left: 50px;
      height: 250px;
      width: 250px;
    }

    @include breakpoint(lg) {
      top: 110px;
      left: 50px;
      height: 280px;
      width: 280px;
    }

    .header__face__img {
      width: 100%;
      height: 100%;
      background: #000;
      background-image: url(../images/face.png);
      background-size: cover;
      border-radius: 50%;
      // rotate back, because parent is rotated
      transform: rotate(
        -55deg
      ); // 55deg is intentional, bacause the img is not fully vertical
      &:hover {
        background-image: url(../images/aaa.png);
        animation: face-spin 0.7s linear infinite;
        .aaa {
          opacity: 1;
        }
      }
    }
  }
}
@keyframes face-animation {
  0% {
    transform: rotate(45deg);
  }
  10% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes face-spin {
  0% {
    transform: rotate(-55deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
@keyframes vinyl-arm-in {
  0% {
    transform: rotate(0);
  }
  1% {
    visibility: visible;
  }
  100% {
    transform: rotate(25deg);
  }
}
@keyframes vinyl-arm-out {
  0% {
    transform: rotate(25deg);
  }
  99% {
    visibility: hidden;
  }
  100% {
    transform: rotate(0);
  }
}
