/*
 * This file contains the styling of the header, and everything it includes
 * profile picture, background picture ect. 
 */

@import "_vars_and_functions"; /// this file is imported and used throughout the entire document as a partial
header {
  height: 20vw;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid setColor(border);
  @include breakpoint(phone) {
    height: 160px;
  }
  @include breakpoint(xs) {
    height: 150px;
  }
  @include breakpoint(sm) {
    height: 200px;
  }
  @include breakpoint(md) {
    height: 240px;
  }
  @include breakpoint(lg) {
    height: 250px;
  }
  // the background image of the header which is clipped
  .header__img {
    height: 100%;
    /*background-image: url("../images/bg_header.png");
    background-size: cover;*/
    background: rgb(232, 57, 134);
    background: linear-gradient(
      90deg,
      rgb(248, 77, 151) 10%,
      rgb(137, 248, 252) 47%,
      rgb(110, 255, 175) 100%
    );
    background-clip: text;
    color: transparent;
    font-family: "Ghost Army Stencil";
    text-align: right;
    @include breakpoint(phone) {
      padding: 20px 20px 0 0;
      line-height: 50px;
    }
    @include breakpoint(xs) {
      padding: 10px 30px 0 0;
    }
    .header__img--name {
      @include breakpoint(phone) {
        font-size: 50px;
      }
      @include breakpoint(xs) {
        font-size: 70px;
      }
    }
    .header__img--title {
      font-size: 20px;
      letter-spacing: 1px;
    }
  }
  .header__face {
    position: absolute;
    // border half circle
    border: 2px solid setColor(border);
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    @include breakpoint(phone) {
      top: 85px;
      left: 0;
      height: 150px;
      width: 150px;
    }
    @include breakpoint(xs) {
      top: 65px;
      left: 10px;
      height: 170px;
      width: 170px;
    }
    @include breakpoint(sm) {
      top: 85px;
      left: 50px;
      height: 230px;
      width: 230px;
    }
    @include breakpoint(md) {
      top: 115px;
      left: 50px;
      height: 250px;
      width: 250px;
    }
    @include breakpoint(lg) {
      top: 125px;
      left: 50px;
      height: 250px;
      width: 250px;
    }

    .header__face__img {
      width: 100%;
      height: 100%;
      background: #000;
      background-image: url(../images/face.png);
      background-size: cover;
      border-radius: 50%;
      // rotate back, because parent is rotated
      transform: rotate(
        -55deg
      ); // 55deg is intentional, bacause the img is not fully vertical
    }
  }
}
