#nav__checkbox {
  position: absolute;
  top: -1000px;
}

nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    a {
      height: 50px;
      width: 100vw;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      background: rgba(0, 0, 0, 0.9);
      color: setColor(nav-text);
      &:hover {
        background: green;
      }
    }
  }
}

nav {
  @include breakpoint(phone) {
    background: red;
    ul {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
