$arrow-width: 2px;

nav {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.7) 15%,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.7) 85%,
    rgba(0, 0, 0, 0.5) 95%
  );
  border-bottom: 2px solid setColor(border);
  border-left: 2px solid setColor(border);
  border-bottom-left-radius: 5px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      &:hover {
        background: setColor(nav-text);
        a {
          color: rgba(0, 0, 0, 0.8);
        }
        .nav__burger__line1,
        .nav__burger__line2,
        .nav__burger__line3 {
          background: rgba(0, 0, 0, 0.8);
        }
      }
      &:last-child {
        display: flex;
        align-items: center;
      }
    }

    a {
      text-decoration: none;
      line-height: 50px;
      font-size: 20px;
      color: setColor(nav-text);
    }
  }

  input {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  @include breakpoint(phone) {
    ul {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        width: 100vw;
        a {
          width: 100vw;
          display: inline-block;
          text-align: center;
        }
        label {
          display: absolute;
          width: 100vw;
          height: 50px;
          top: 0;
          left: 0;
        }
      }
    }
  }

  @include breakpoint(xs) {
    ul {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        width: 100vw;
        a {
          width: 100vw;
          display: inline-block;
          text-align: center;
        }
        label {
          display: absolute;
          width: 100vw;
          height: 50px;
          top: 0;
          left: 0;
        }
      }
    }
  }

  @include breakpoint(sm) {
    position: sticky;
    top: 0;
    height: 50px;
    width: 55vw;
    float: right;
    z-index: 9999;
    ul {
      width: 55vw;
      height: 50px;
      display: flex;
      flex-direction: row;
      li {
        &:last-child {
          width: 50px;
        }
        width: 12.4vw;
        a {
          width: 12.4vw;
          display: inline-block;
          text-align: center;
        }
        label {
          display: absolute;
          height: 50px;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

//
// ARROW / BURGER
//
.nav__burger {
  position: relative;
  margin: 0 auto;
  @include breakpoint(phone) {
    width: 20vw;
    height: 20px;
    .nav__burger__line1 {
      position: absolute;
      top: 80%;
      left: 10%;
      width: 80%;
      height: $arrow-width;
      background: setColor(nav-text);
    }
    .nav__burger__line2 {
      position: absolute;
      top: 80%;
      left: 10%;
      width: 43%;
      height: $arrow-width;
      background: setColor(nav-text);
      transform-origin: left bottom;
      transform: rotate(-17deg);
    }
    .nav__burger__line3 {
      position: absolute;
      top: 80%;
      right: 10%;
      width: 43%;
      height: $arrow-width;
      background: setColor(nav-text);
      transform-origin: right bottom;
      transform: rotate(17deg);
    }
  }

  @include breakpoint(xs) {
    width: 20vw;
    max-width: 70px;
    height: 20px;
    .nav__burger__line1 {
      position: absolute;
      top: 80%;
      left: 10%;
      width: 80%;
      height: $arrow-width;
      background: setColor(nav-text);
    }
    .nav__burger__line2 {
      position: absolute;
      top: 80%;
      left: 10%;
      width: 42.5%;
      height: $arrow-width;
      background: setColor(nav-text);
      transform-origin: left bottom;
      transform: rotate(-17deg);
    }
    .nav__burger__line3 {
      position: absolute;
      top: 80%;
      right: 10%;
      width: 42.5%;
      height: $arrow-width;
      background: setColor(nav-text);
      transform-origin: right bottom;
      transform: rotate(17deg);
    }
  }

  @include breakpoint(sm) {
    width: 50px;
    .nav__burger__line1 {
      position: absolute;
      top: 21px;
      left: 10px;
      width: 30px;
      height: $arrow-width;
      background: setColor(nav-text);
      visibility: hidden;
    }
    .nav__burger__line2 {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 3px;
      background: setColor(nav-text);
      transform-origin: left bottom;
      transform: rotate(44.5deg);
    }
    .nav__burger__line3 {
      position: absolute;
      top: 32px;
      left: 10px;
      width: 30px;
      height: 3px;
      background: setColor(nav-text);
      transform-origin: left top;
      transform: rotate(-44.5deg);
    }
  }
}
