$arrow-width: 2px;
.active {
  color: #fab8f4;
}

#nav__checkbox {
  display: none;
}

nav {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.7) 15%,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.7) 85%,
    rgba(0, 0, 0, 0.5) 95%
  );
  border-bottom: 2px solid setColor(border);
  border-bottom-left-radius: 5px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      &:hover {
        background: setColor(nav-text);

        a {
          color: rgba(0, 0, 0, 0.8);
        }
        .nav__burger__line1,
        .nav__burger__line2,
        .nav__burger__line3 {
          background: rgba(0, 0, 0, 0.8);
        }
      }
      &:last-child {
        display: flex;
        align-items: center;
        label {
          z-index: 10000;
        }

        &:hover {
          label {
            animation: x-popping 0.2s linear 2 forwards;
          }
        }
      }
    }

    a {
      text-decoration: none;
      line-height: 50px;
      font-size: 20px;
      color: setColor(nav-text);
    }
  }

  @include breakpoint(phone) {
    border-left: none;
    ul {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        width: 100vw;
        a {
          width: 100vw;
          display: inline-block;
          text-align: center;
        }
        label {
          display: absolute;
          width: 100vw;
          height: 50px;
          top: 0;
          left: 0;
        }
      }
    }
  }

  @include breakpoint(xs) {
    border-left: none;
    ul {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        width: 100vw;
        a {
          width: 100vw;
          display: inline-block;
          text-align: center;
        }
        label {
          display: absolute;
          width: 100vw;
          height: 50px;
          top: 0;
          left: 0;
        }
      }
    }
  }

  @include breakpoint(sm) {
    border-left: 2px solid setColor(border);
    position: sticky;
    top: 0;
    height: 50px;
    width: 55vw;
    float: right;
    z-index: 9999;
    ul {
      width: 55vw;
      height: 50px;
      display: flex;
      flex-direction: row;
      li {
        &:last-child {
          width: 50px;
          margin-left: auto;
        }
        width: 12.1vw;
        a {
          width: 12.1vw;
          display: inline-block;
          text-align: center;
        }
        label {
          display: absolute;
          height: 50px;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

//
// ARROW / BURGER
//
.nav__burger {
  position: relative;
  margin: 0 auto;
  @include breakpoint(phone) {
    width: 20vw;
    height: 20px;
    animation: arrow-up 1s infinite;
    .nav__burger__line1 {
      position: absolute;
      top: 80%;
      left: 10%;
      width: 80%;
      height: $arrow-width;
      background: setColor(nav-text);
    }
    .nav__burger__line2 {
      position: absolute;
      top: 80%;
      left: 10%;
      width: 43%;
      height: $arrow-width;
      background: setColor(nav-text);
      transform-origin: left bottom;
      transform: rotate(-17deg);
    }
    .nav__burger__line3 {
      position: absolute;
      top: 80%;
      right: 10%;
      width: 43%;
      height: $arrow-width;
      background: setColor(nav-text);
      transform-origin: right bottom;
      transform: rotate(17deg);
    }
  }

  @include breakpoint(xs) {
    width: 20vw;
    max-width: 70px;
    height: 20px;
    animation: arrow-up 1s infinite;
    .nav__burger__line1 {
      position: absolute;
      top: 80%;
      left: 10%;
      width: 80%;
      height: $arrow-width;
      background: setColor(nav-text);
    }
    .nav__burger__line2 {
      position: absolute;
      top: 80%;
      left: 10%;
      width: 42.5%;
      height: $arrow-width;
      background: setColor(nav-text);
      transform-origin: left bottom;
      transform: rotate(-17deg);
    }
    .nav__burger__line3 {
      position: absolute;
      top: 80%;
      right: 10%;
      width: 42.5%;
      height: $arrow-width;
      background: setColor(nav-text);
      transform-origin: right bottom;
      transform: rotate(17deg);
    }
  }

  @include breakpoint(sm) {
    width: 50px;
    animation: none;
    .nav__burger__line1 {
      position: absolute;
      top: 21px;
      left: 10px;
      width: 30px;
      height: $arrow-width;
      background: setColor(nav-text);
      opacity: 0;
    }
    .nav__burger__line2 {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 30px;
      height: 3px;
      background: setColor(nav-text);
      transform-origin: left bottom;
      transform: rotate(44.5deg);
    }
    .nav__burger__line3 {
      position: absolute;
      top: 32px;
      left: 10px;
      width: 30px;
      height: 3px;
      background: setColor(nav-text);
      transform-origin: left top;
      transform: rotate(-44.5deg);
    }
  }
}

@keyframes x-popping {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes arrow-up {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(10px);
  }
}

@include breakpoint(phone) {
  #nav__checkbox:not(:checked) ~ nav {
    ul {
      height: 50px;
      animation: nav-ver-out 1s ease-in-out;
      li:not(:last-child) {
        height: 0;
        opacity: 0;
        animation: li-ver-out 1s ease-in-out;
      }
      li:last-child {
        transform: scale(-1);
      }
    }

    @keyframes nav-ver-out {
      0% {
        height: 250px;
      }
      100% {
        height: 50px;
      }
    }

    @keyframes li-ver-out {
      0% {
        height: 50px;
        opacity: 1;
      }
      100% {
        height: 0;
        opacity: 0;
      }
    }
  }

  #nav__checkbox:checked ~ nav {
    ul {
      height: 250px;
      animation: nav-ver-in 1s ease-in-out;
      li:not(:last-child) {
        height: 50px;
        opacity: 1;
        animation: li-ver-in 1s ease-in-out;
      }
    }

    @keyframes nav-ver-in {
      0% {
        height: 50px;
      }
      100% {
        height: 250px;
      }
    }

    @keyframes li-ver-in {
      0% {
        height: 0;
        opacity: 0;
      }
      100% {
        height: 50px;
        opacity: 1;
      }
    }
  }
}

@include breakpoint(xs) {
  #nav__checkbox:not(:checked) ~ nav {
    ul {
      height: 50px;
      animation: nav-ver-out 1s ease-in-out;
      li:not(:last-child) {
        height: 0;
        opacity: 0;
        animation: li-ver-out 1s ease-in-out;
      }
      li:last-child {
        transform: scale(-1);
      }
    }

    @keyframes nav-ver-out {
      0% {
        height: 250px;
      }
      100% {
        height: 50px;
      }
    }

    @keyframes li-ver-out {
      0% {
        height: 50px;
        opacity: 1;
      }
      100% {
        height: 0;
        opacity: 0;
      }
    }
  }

  #nav__checkbox:checked ~ nav {
    ul {
      height: 250px;
      animation: nav-ver-in 1s ease-in-out;
      li:not(:last-child) {
        height: 50px;
        opacity: 1;
        animation: li-ver-in 1s ease-in-out;
      }
    }

    @keyframes nav-ver-in {
      0% {
        height: 50px;
      }
      100% {
        height: 250px;
      }
    }

    @keyframes li-ver-in {
      0% {
        height: 0;
        opacity: 0;
      }
      100% {
        height: 50px;
        opacity: 1;
      }
    }
  }
}

@include breakpoint(sm) {
  #nav__checkbox:not(:checked)
    ~ nav
    ul
    li:last-child
    .nav__burger
    .nav__burger__line1 {
    animation: line1-to-burger 0.3s linear;
    opacity: 1;
  }

  @keyframes line1-to-burger {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #nav__checkbox:not(:checked)
    ~ nav
    ul
    li:last-child
    .nav__burger
    .nav__burger__line2 {
    animation: line2-to-burger 0.3s linear;
    transform: rotate(0);
  }

  @keyframes line2-to-burger {
    0% {
      transform: rotate(44deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  #nav__checkbox:not(:checked)
    ~ nav
    ul
    li:last-child
    .nav__burger
    .nav__burger__line3 {
    animation: line3-to-burger 0.3s linear;
    transform: rotate(0);
  }

  @keyframes line3-to-burger {
    0% {
      transform: rotate(-44deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  #nav__checkbox:checked
    ~ nav
    ul
    li:last-child
    .nav__burger
    .nav__burger__line1 {
    animation: line1-to-x 0.3s linear;
    opacity: 0;
  }

  @keyframes line1-to-x {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #nav__checkbox:checked
    ~ nav
    ul
    li:last-child
    .nav__burger
    .nav__burger__line2 {
    animation: line2-to-x 0.3s linear;
    transform: rotate(44deg);
  }

  @keyframes line2-to-x {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(44deg);
    }
  }

  #nav__checkbox:checked
    ~ nav
    ul
    li:last-child
    .nav__burger
    .nav__burger__line3 {
    animation: line3-to-x 0.3s linear;
    transform: rotate(-44deg);
  }

  @keyframes line3-to-x {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-44deg);
    }
  }

  #nav__checkbox:not(:checked) ~ nav {
    width: 50px;
    animation: nav-hor-out 1s ease-in-out;
    ul {
      width: 50px;
      height: 50px;
      animation: nav-hor-out 1s ease-in-out;
      li:not(:last-child) {
        width: 0;
        opacity: 0;
        animation: li-hor-out 1s linear;
      }
    }
    @keyframes nav-hor-out {
      0% {
        width: 55vw;
      }
      35% {
        width: 60vw;
      }
      100% {
        width: 50px;
      }
    }

    @keyframes li-hor-out {
      0% {
        height: 50px;
        width: 12.1vw;
        opacity: 1;
      }
      35% {
        width: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        height: 50px;
        width: 0;
      }
    }
  }

  #nav__checkbox:checked ~ nav {
    width: 55vw;
    animation: nav-hor-in 1s ease-in-out;
    ul {
      height: 50px;
      width: 55vw;
      animation: nav-hor-in 1s ease-in-out;
      li:not(:last-child) {
        width: 12.1vw;
        opacity: 1;
        animation: li-hor-in 1s linear;
      }
    }
    @keyframes nav-hor-in {
      0% {
        width: 50px;
      }
      65% {
        width: 60vw;
      }
      100% {
        width: 55vw;
      }
    }

    @keyframes li-hor-in {
      0% {
        width: 0;
      }
      65% {
        width: 0;
        opacity: 0;
      }
      100% {
        opacity: 1;
        width: 12.1vw;
      }
    }
  }
}
