.technologies {
  height: 0;
  clip-path: polygon(
    3% 50%,
    0% 10%,
    97% 10%,
    100% 50%,
    97% 100%,
    0% 100%,
    3% 50%
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 40%;
  align-items: center;
  background: white;
  img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    padding: 10px;
    animation: wobble 1s ease-in-out infinite;
    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: -0.3s;
    }
    &:nth-child(4) {
      animation-delay: 0.1s;
    }
    &:nth-child(5) {
      animation-delay: 0.9s;
    }
    &:nth-child(6) {
      animation-delay: 0.15s;
    }
    &:nth-child(7) {
      animation-delay: 0.43s;
    }
    &:nth-child(8) {
      animation-delay: 0.66s;
    }
    &:nth-child(9) {
      animation-delay: 0.8s;
    }
    @include breakpoint(sm) {
      width: 90px;
      height: 90px;
    }
    @include breakpoint(md) {
      width: 100px;
      height: 100px;
    }
    @include breakpoint(lg) {
      width: 110px;
      height: 110px;
    }
  }
}
.open-tech {
  @include breakpoint(phone) {
    height: 500px;
    animation: technologies-open-phone 2s ease-out;
  }
  @include breakpoint(xs) {
    height: 400px;
    animation: technologies-open-xs 2s ease-out;
  }
  @include breakpoint(sm) {
    height: 300px;
    animation: technologies-open-sm 2s ease-out;
  }
}
@keyframes technologies-open-phone {
  0% {
    height: 0;
  }
  100% {
    height: 500px;
  }
}
@keyframes technologies-open-xs {
  0% {
    height: 0;
  }
  100% {
    height: 400px;
  }
}
@keyframes technologies-open-sm {
  0% {
    height: 0;
  }
  100% {
    height: 300px;
  }
}
@keyframes wobble {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(2px);
  }
  66% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}
