.technologies {
  height: 0;
  clip-path: polygon(
    5% 50%,
    3% 10%,
    97% 10%,
    100% 50%,
    97% 100%,
    3% 100%,
    5% 50%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  img {
    width: 80px;
    height: 80px;
    padding: 10px;
  }
}
.open-tech {
  animation: technologies-open 0.7s ease-out;
  height: 150px;
}
@keyframes technologies-open {
  0% {
    height: 0;
  }
  100% {
    height: 150px;
  }
}
