@mixin breakpoint($bp) {
  @if $bp == phone {
    @media (max-width: 400px) {
      @content;
    }
  } @else if $bp == xs {
    @media (min-width: 401px) {
      @content;
    }
  } @else if $bp == sm {
    @media (min-width: 701px) {
      @content;
    }
  } @else if $bp == md {
    @media (min-width: 1000px) {
      @content;
    }
  } @else if $bp == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Not a correct mixin attribute. Attributes are: xs, sm, md, lg!";
  }
}

@function setColor($color-name) {
  @return map-get($colors, $color-name);
}
$colors: (
  primary: #282c34,
  //border: #,b5b5ff
    border: #f4d6fe,
  nav-text: #b4eddd
);
