@font-face {
  font-family: "Ghost Army Stencil";
  src: url(../fonts/GhostArmyStencil.otf) format("opentype");
}
@import "_vars_and_functions";
@import "header";
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: setColor(primary);
  background-image: url("../images/dark-circles.png");
}
