@font-face {
  font-family: "Ghost Army Stencil";
  src: url(../fonts/GhostArmyStencil.otf) format("opentype");
}
@import "_vars_and_functions";
@import "header";
@import "nav";
@import "about";
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  //body owerflow-x is hidden, because when navbar scrolls out
  //it renders the page wider, now navbar is completly hidden
  overflow-x: hidden;
  background: setColor(primary);
  background-image: url("../images/dark-circles.png");
  font-family: "Roboto", sans-serif;
}
