@import url(https://fonts.googleapis.com/css?family=Duru+Sans|Architects+Daughter);

body {
  height:           100%;
  margin:           auto;
  background:       linear-gradient(to bottom right, rgb(224, 196, 147), rgb(184, 146, 97));
}

#container {
  width:            300px;
  height:           400px;
  background-color: rgb(29, 28, 31);
  background-image: url("images/bckgrnd1.jpg");
  color:            #eee;
  border:           rgb(45, 39, 44) 3px outset;
  border-radius:    10px;
  box-shadow:       10px 10px 10px 5px rgba(0,0,0,0.25);
  margin-left:      auto;
  margin-right:     auto;
  margin-top:       5vh;
  margin-bottom:    30vh;
  text-align:       center;
}

canvas {
  margin-top:       15px;
}

#time_div {
  position:         relative;
  margin:           0;
  padding:          0;
  top:              -335px;
  left:             14px;
  background-color: rgba(0, 0, 0, 0);
  color:            #b3d1c7;
  font-size:        40px;
  font-family:      sans-serif;
  font-weight:      bold;
  text-shadow:      -1px -1px #000;
}

.left {
  padding-left:     15px;
  padding-right:    0px;
}

.rigth {
  padding-right:    15px;
  padding-left:     0px;
}

.timer {
  margin:           0;
  padding:          0;
}

#settings_panel {
  background-color: rgba(0, 0, 0, 0);
  color:            #eee;
  margin:           0;
  padding-top:      10px;
  border-top:       2px solid rgba(150, 150, 150, 0.2);
  font-size:        18px;
  font-family:      sans-serif;
  text-shadow:      -1px -1px #000;
  text-align:       center;
}

#control_btns {
  position:        relative;
  top:             -225px;
}

.rnd_btn {
  background-image: url("images/round_button.jpg");
  width:            40px;
  height:           40px;
  padding:          0;
  margin:           5px 0 5px 0;
  border-radius:    20px;
  border:           0px solid rgba(0, 0, 0, 0);
  text-shadow:      -1px -1px #000;
}

.rnd_btn:hover{
  color:            rgb(100, 194, 238);
}

.time_setting_display {
  width:            80px;
  height:           25px;
  background-color: #ddd;
  color:            #222;
  border:           1px inset #111;
  border-radius:    15px;
  text-align:       center;
}

.small_btn {
  background-color: rgba(0, 0, 0, 0);
  color:            inherit;
  margin-bottom:    7px;
  margin-top:       7px;
  padding-left:     5px;
  background-image: url("images/small_btn.png");
  width:            25px;
  height:           25px;
  border:           0px solid rgba(0, 0, 0, 0.1);
  border-radius:    15px;
  font-size:        15px;
  text-shadow:      -1px -1px #000;
}

.small_btn:hover{
  color:            rgb(100, 194, 238);
}

#clear_btn {
  position:        relative;
  top:             -230px;
  left:            -53px;
  padding-top:     2px;
  padding-left:    8px;
  font-size:       16px;
  font-weight:     bold;
}

#mute_btn {
  position:        relative;
  top:             -475px;
  left:            130px;
  padding-top:     0;
  padding-left:    8px;
  color:           rgba(162, 231, 120, 0.8);
  font-size:       20px;
}

#love {
  color:           rgba(134, 84, 96, 0.7);
}

address {
  position:        relative;
  top:             -140px;
  left:            70px;
  color:           #777;
  font-family:     "Architects Daughter", sans-serif;
  font-size:       12px;
  text-shadow:     -1px -1px #000;
}
